bjtu_template.pdf
bjtu_template_elec.pdf

.claude/
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.nav
*.snm
*.vrb
*.dvi
*.ps
*.xdv
*.bcf
*.run.xml
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.loa
*.idx
*.ilg
*.ind

*~
*.backup
*.swp
*.swo
